{{- with resources.Get "css/main.css" }}
  <style>
body {
  margin: 0;
  font: normal 75% Arial, Helvetica, sans-serif;
}
canvas {
  display: block;
  vertical-align: bottom;
} /* ---- particles.js container ---- */
#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #323840;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

#boxcontent {
  box-sizing: border-box;
  position: fixed;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  z-index: 50;
  top: 40%;
  left: 50%;
  right: 0;
  width: 400px;
  margin: -28px 0 0 -150px;
  text-align: center;
  color: #fff;
  padding: 10px 0px;
  border: solid 3px #fff;
  font-weight: 600;
  text-transform: uppercase;
}
a:link {
  color: #33ccff;
}
a:hover {
  color: #ccffff;
}
a:visited {
  color: green;
}
#timer {
    margin: auto;
    text-align: center;
    padding: 100px 60px;
    background: #90cbf3;
    font-family: sans-serif;
    font-size: 3em;
    font-weight: 100;
    color: #020b43;
    padding: 20px;
    width: 700px;
}

#timer div {
    display: inline-block;
    min-width: 90px;
    padding: 15px;
    background: #020b43;
    border-radius: 10px;
    border: 2px solid #030d52;
    margin: 15px;
    color: white;
}

</style>
{{- end }}
